SUPABASE_PROJECT_ID="https://nscaibzokjunlyefqwyw.supabase.co"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zY2FpYnpva2p1bmx5ZWZxd3l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMzQ2OTUsImV4cCI6MjA5NjkxMDY5NX0.31nrdUzvKIYJRrQgRVFGSFjxcY0N7wtul6FdjXyHhF0"
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=""
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
